@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

opensans-light = 300 16px 'Open Sans', serif
opensans-regular = 400 16px 'Open Sans', serif
opensans-semibold = 600 16px 'Open Sans', serif
opensans-bold = 700 16px 'Open Sans', serif
opensans-extrabold = 800 16px 'Open Sans', serif

color-red-1 = #e62429
color-red-2 = #f75f64
color-blue-1 = #47626A
color-blue-2 = #7c9aa0